<!DOCTYPE html>
{% block out_html %}
{% endblock %}

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <h1><a href="{% url 'Blog:blog_list' %}" target="_blank">Logo</a></h1>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'Accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li>
                <a href="{% url 'Blog:create_article' %}">Create Article</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'Accounts:login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'Accounts:signup' %}">Signup</a>
            </li>
            {% endif%}
        </ul>
    </nav>
    <p></p>
    {% block body %}

    {% endblock %}
</body>
</html>