<!DOCTYPE html>
{%block OutHtml%}
{%endblock%}

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block Title%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {%block Head%}

    {%endblock%}
</head>
<body>
    <h1><a href="{%url 'Main'%}">Logo</a></h1>
    <nav>
        <ul>
            <li>
                <form action="{% url 'Accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <p></p>
    {%block Body%}

    {%endblock%}
</body>
</html>